# 忽略目录
dist/
Inspired/
node_modules/
public/
src/
packages/



# 忽略指定文件 
.browserslistrc
.eslintrc.js
.prettierrc.js 
.eslintignore
.prettierignore
babel.config.js
vue.config.js 
.travis.yml
.env
.env.* 


lib/*.html
lib/*.gz
reference.md