# 忽略目录
.vscode/
examples/
node_modules/
public/
build/
src/
dist/
deploy/
lib/*.html
lib/*.html.gz


# 忽略指定文件 
.browserslistrc 
.eslintignore 
.prettierignore 
.env
.env.*
*.js
*.yml

CHANGELOG.zh-CN.md
INSPIRED.zh-CN.md