@font-face {
  font-family: "iconfont"; /* Project id 2877156 */
  src: url('iconfont.woff2?t=1638520665439') format('woff2'),
       url('iconfont.woff?t=1638520665439') format('woff'),
       url('iconfont.ttf?t=1638520665439') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.me-icon-layout-right-fill:before {
  content: "\e718";
}

.me-icon-layout-left-fill:before {
  content: "\e73c";
}

.me-icon-layout-top-fill:before {
  content: "\e775";
}

.me-icon-file-copy:before {
  content: "\e7bc";
}

.me-icon-code:before {
  content: "\e7fc";
}

.me-icon-transparent:before {
  content: "\f0de";
}

